
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


:root {
    --primary-color: #52B69A;
    --secondary-color: #e6e4db;
    --accent1-color: #34A0A4;
    --accent2-color: #99c2be;

    --heading-font: 'Josefin Sans', sans-serif;
    --paragraph-font: 'Josefin Sans', sans-serif;

    --nav-background-color: #e6e4db;
    --nav-link-color: #34A0A4;
    --nav-hover-link-color: #52B69A;
    --nav-hover-background-color: #99c2be;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}
header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}
nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
} 
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
